<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>About this Cookbook</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>About this Cookbook</h1>
<p>The 
<a href="http://paulbatchelor.github.io/proj/cook/">Sporth Cookbook</a>, 
was written by Sporth creator Paul Batchelor. This is the Interactive version, 
with modifications and features by Pierre Cusa. In this version, every code 
sample can be easily run and edited in-browser. Some stuff has also been removed, 
mostly because the in-browser version of Sporth can't load external files.</p>
<h2>How to read this book</h2>
<p>From the editor to the right, you can type ctrl+Enter to compile and play, 
and ctrl+Space to stop playing. When the editor's text cursor is over a ugen, 
a tooltip will appear with the ugen's arguments and description.</p>
<p>If you are new to Sporth, read <i>Part 2: How Sporth Works</i>, to learn the
basics. </p>
<p>Play around with Sporth. Have some fun with it. Then, dig into some of the 
thoroughly documented Sporth patches in <i>Part 3: Example Sporth Patches</i>. 
Studying these will help you master Sporth and build up an intuition for 
sound design in modular synthesis environments. </p>
<hr />
<a href="/learn">Back</a>
</div>
</body>
</html>
