<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Hello, Sine</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>Hello, Sine</h1>
<p>Hello, dear reader. The sine wave is the most fundamental sound of 
computer music. It seems
fitting here that it should be the first bit of Sporth code. Not quite a "hello
world", but a "hello sine"</p>
<p>The line below is A440 sine wave. This patch will be explained and expanded 
in the chapters to come:</p>
<pre><code> 440 0.5 sine </code></pre>
<hr />
<a href="/learn">Back</a>
</div>
</body>
</html>
