<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Learn Sporth</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
		<h1>Learn Sporth: An Interactive Cookbook</h1>
		<h3>Part 0: Introduction</h3>
		<ol class="sub n0">
		<li><a href="/learn/what_is_sporth">What is Sporth?</a></li>
		<li><a href="/learn/about_cookbook">About this Cookbook</a></li>
		</ol>
		<h3>Part 1: How Sporth Works ("The Kitchen")</h3>
		<ol class="sub n1">
		<li><a href="/learn/hello">Hello, Sine</a></li>
		<li><a href="/learn/stack">The Stack</a></li>
		<li><a href="/learn/operations">Stack Operations</a></li>
		<li><a href="/learn/gates_triggers">Gates and Triggers</a></li>
		<li><a href="/learn/ftables">F-tables and Gen Routines</a></li>
		<li><a href="/learn/variables">Variables</a></li>
		<li><a href="/learn/pregisters">p registers</a></li>
		<li><a href="/learn/prop">prop</a></li>
		<li><a href="/learn/lsys">lsys</a></li>
		<li><a href="/learn/ugens">List of Sporth Ugens</a></li>
		</ol>
		<h3>Part 2: Example Sporth Patches ("The Recipes")</h3>
		<ol class="sub n2">
		<li><a href="/learn/recipes_fm">FM</a></li>
		<li><a href="/learn/recipes_chatting_robot">Chatting Robot</a></li>
		<li><a href="/learn/recipes_bones">Bones</a></li>
		<li><a href="/learn/recipes_oatmeal">Oatmeal</a></li>
		<li><a href="/learn/recipes_machines_at_work">Machines at Work</a></li>
		<li><a href="/learn/recipes_midnight_crawl">Midnight Crawl</a></li>
		<li><a href="/learn/recipes_playwithtoys">Play With Toys</a></li>
		<li><a href="/learn/recipes_waiting_room">The Waiting Room</a></li>
		<li><a href="/learn/recipes_in_seven">In Seven</a></li>
		</ol>

</div>
</body>
</html>
