<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Lots of Patches</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>Lots of Patches</h1>
<p>
	In this third part of the interactive cookbook, you'll find a number of well-documented 
	Sporth patches that can be run in the browser. Note that there are a few other places 
	where you can find patches:
</p>
<ul><li>
	<a href="/browse">The AudioMasher collection</a> has a growing number of patches, also generally 
	meant to be played in-browser. You can easily add your own patches there.
</li><li>
	<a href="http://paulbatchelor.github.io/proj/cook/">The original cookbook</a> has 
	some additional patches that aren't in the interactive version, because they rely on external files. 
	Try them out using the 
	<a href="https://github.com/PaulBatchelor/Sporth">native version of Sporth</a>.
</li><li>
	<a href="https://github.com/PaulBatchelor/Sporth/tree/master/examples">The examples</a> 
	included with the Sporth distribution demonstate a variety of Sporth ugens.
</li></ul>
<hr />
<a href="/learn">Back</a>
</div>
</body>
</html>
