<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Stack Operations</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>Stack Operations</h1>
<p>Stack operations manipulate the stack in Sporth. At the moment, Sporth has
a very small set of stack operations. </p>
<p>In order of usefulness, they are as follows:</p>
<p><strong>dup</strong>: duplicates the item on the stack ( a dup -> a a)</p>
<p><strong>swap</strong>: swaps the last two items on the stack ( a b swap -> b a )</p>
<p><strong>rot</strong>: rotates the third-to-last item on the stack: ( a b c rot -> b c a )</p>
<hr />
<a href="/learn/stack">Previous: The Stack</a> | <a href="/learn">Back</a> | <a href="/learn/gates_triggers">Next: Gates and Triggers</a>
</div>
</body>
</html>
