<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Prop</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>Prop</h1>
<p>Prop is one of the microlanguages embedded inside of Sporth. It is a 
rhythmic notation system based on proportions. </p>
<p>Prop can be used to create very complex drum machines and rhythmic profiles. </p>
<p>In Sporth, there are two ugens for prop. <strong>prop</strong> is the original ugen that compiles
a prop string and a BPM, and creates a set of <a href="/learn/gates_triggers">ticks</a>. 
The ugen called <strong>tprop</strong> is identical to prop, except that it has a trigger 
argument that resets prop to the beginning. </p>
<pre><code>_seq "60 62 64 67 71" gen_vals

110 "+2(++)-" prop
1 _seq tseq
mtof 0.01 port 0.1 saw
1000 0.1 moogladder</code></pre>
<h2>More </h2>
<p>For a full explanation of prop, consult the 
<a href="http://paulbatchelor.github.io/proj/prop.html">prop project page</a>.</p>
<hr />
<a href="/learn/pregisters">Previous: P Registers</a> | <a href="/learn">Back</a> | <a href="/learn/lsys">Next: Lsys</a>
</div>
</body>
</html>
