<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>FM<br><i>by Paul Batchelor</i></h1>
<pre class=dont_try><code>440 440 sine
440 +
0.5 sine</code></pre>
<p>We are going to make an FM pair from scratch. 
First we start with a modulator signal, which controls (modulates) the
frequency of the carrier oscillator.</p>
<pre class=dont_try><code> 440 440 sine</code></pre>
<p>This creates a sine wave that goes between -440 and 440. Next we bias it
by 440 Hz so it centers 440 Hz, going down to 0 Hz and going up to 880 Hz:</p>
<pre class=dont_try><code> 440 +</code></pre>
<p>Finally, we send this signal to modulate the frequency carrier signal: </p>
<pre class=dont_try><code> 0.5 sine</code></pre>
<p>What we end up with is a basic FM pair at 440 Hz, 1 1:1 Carrier-Modulator
ratio, with a modulation index of 1, and an ampitude of 0.5.</p>

</div>
</body>
</html>
