<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>A list of Unit Generators in Sporth</h1>
<p>Below is a very comprehensive list of Sporth Unit generators. 
Some of these ugens have links with short simple examples. </p>
<p><a href="/learn/ugens_mul">*</a></p>
<p><a href="/learn/ugens_add">+</a></p>
<p><a href="/learn/ugens_sub">-</a></p>
<p><a href="/learn/ugens_div">/</a></p>
<p><a href="/learn/ugens_and">&amp;</a></p>
<p><a href="/learn/ugens_or">&#124;</a></p>
<p><a href="/learn/ugens_xor">^</a></p>
<p><a href="/learn/ugens_leftshift"><<</a></p>
<p><a href="/learn/ugens_rightshift">>></a></p>
<p><a href="/learn/ugens_mod">%</a></p>
<p><a href="/learn/ugens_abs">abs</a></p>
<p><a href="/learn/ugens_adsr">adsr</a></p>
<p><a href="/learn/ugens_allpass">allpass</a></p>
<p><a href="/learn/ugens_atone">atone</a></p>
<p><a href="/learn/ugens_autowah">autowah</a></p>
<p><a href="/learn/ugens_add">add</a></p>
<p><a href="/learn/ugens_ampdb">ampdb</a></p>
<p><a href="/learn/ugens_bal">bal</a></p>
<p><a href="/learn/ugens_biscale">biscale</a></p>
<p><a href="/learn/ugens_bitcrush">bitcrush</a></p>
<p><a href="/learn/ugens_blsaw">blsaw</a></p>
<p><a href="/learn/ugens_blsquare">blsquare</a></p>
<p><a href="/learn/ugens_bltriangle">bltriangle</a></p>
<p><a href="/learn/ugens_bpm2dur">bpm2dur</a></p>
<p><a href="/learn/ugens_bpm2rate">bpm2rate</a></p>
<p><a href="/learn/ugens_branch">branch</a></p>
<p><a href="/learn/ugens_brown">brown</a></p>
<p><a href="/learn/ugens_butbp">butbp</a></p>
<p><a href="/learn/ugens_butbr">butbr</a></p>
<p><a href="/learn/ugens_buthp">buthp</a></p>
<p><a href="/learn/ugens_butlp">butlp</a></p>
<p>cdb</p>
<p>cdbload</p>
<p>cdbtab</p>
<p><a href="/learn/ugens_crossfade">cf</a></p>
<p><a href="/learn/ugens_changed">changed</a></p>
<p><a href="/learn/ugens_clip">clip</a></p>
<p><a href="/learn/ugens_clock">clock</a></p>
<p><a href="/learn/ugens_comb">comb</a></p>
<p>conv</p>
<p><a href="/learn/ugens_count">count</a></p>
<p><a href="/learn/ugens_crossfade">crossfade</a></p>
<p><a href="/learn/ugens_dcblk">dcblk</a></p>
<p><a href="/learn/ugens_delay">delay</a></p>
<p><a href="/learn/ugens_diode">diode</a></p>
<p><a href="/learn/ugens_diskin">diskin</a></p>
<p><a href="/learn/ugens_dist">dist</a></p>
<p><a href="/learn/ugens_div">div</a></p>
<p><a href="/learn/ugens_dmetro">dmetro</a></p>
<p><a href="/learn/ugens_drip">drip</a></p>
<p><a href="/learn/ugens_drop">drop</a></p>
<p><a href="/learn/ugens_dtrig">dtrig</a></p>
<p><a href="/learn/ugens_dup">dup</a></p>
<p><a href="/learn/ugens_dup2">dup2</a></p>
<p>dur</p>
<p>durs</p>
<p>dust</p>
<p>eq</p>
<p>eqfil</p>
<p>eval</p>
<p>expon</p>
f<p>fl</p>
<p>fc</p>
<p>fe</p>
<p>floor</p>
<p>fm</p>
<p>fof</p>
<p>fofilt</p>
<p>fog</p>
<p>fosc</p>
<p>frac</p>
<p>ftsum</p>
<p>gbuzz</p>
<p>gen_eval</p>
<p>gen_file</p>
<p>gen_line</p>
<p>gen_padsynth</p>
<p>gen_sine</p>
<p>gen_rand</p>
<p>gen_composite</p>
<p>gen_sinesum</p>
<p>gen_sporth</p>
<p>gen_vals</p>
<p>get</p>
<p>gt</p>
<p>hilbert</p>
<p>in</p>
<p>incr</p>
<p>inv</p>
<p>jcrev</p>
<p>jitter</p>
<p>limit</p>
<p>line</p>
<p>load</p>
<p>sdelay</p>
<p>slice</p>
<p>slist</p>
<p>loadfile</p>
<p>loadspa</p>
<p>log</p>
<p>log10</p>
<p>lpf18</p>
<p>lsys</p>
<p>lt</p>
<p>max</p>
<p>maygate</p>
<p>maytrig</p>
<p>metro</p>
<p>mincer</p>
<p>min</p>
<p>mix</p>
<p>mode</p>
<p>moogladder</p>
<p>mtof</p>
<p><a href="/learn/ugens_mul">mul</a></p>
<p>ne</p>
<p>noise</p>
<p>nsmp</p>
<p><a href="/learn/ugens_osc">osc</a></p>
<p><a href="/learn/ugens_oscmorph">oscmorph4</a></p>
<p><a href="/learn/ugens_oscmorph">oscmorph2</a></p>
p<p>palias</p>
<p>pan</p>
<p>pareq</p>
<p>paulstretch</p>
<p>pdhalf</p>
<p>peaklim</p>
<p>phaser</p>
<p>phasor</p>
<p>pinknoise</p>
<p>pluck</p>
<p>port</p>
<p>pos</p>
<p><a href="/learn/ugens_posc3">posc3</a></p>
<p>print</p>
<p>prop</p>
<p>ps</p>
<p>pset</p>
<p>pshift</p>
<p>ptrack</p>
<p>rand</p>
<p>randh</p>
<p>randi</p>
<p>ref</p>
<p>render</p>
<p>reson</p>
<p>reverse</p>
<p>revsc</p>
<p>rms</p>
<p>rot</p>
<p>round</p>
<p>rpt</p>
<p>rspline</p>
<p>samphold</p>
<p>saturator</p>
<p><a href="/learn/ugens_blsaw">saw</a></p>
<p>say</p>
<p>scale</p>
<p>scrambler</p>
<p>set</p>
<p>setdurs</p>
<p>sget</p>
<p>sine</p>
<p>smoothdelay</p>
<p>slick</p>
<p>spa</p>
<p>sparec</p>
<p>square</p>
<p>sr</p>
<p>srand</p>
<p><a href="/learn/ugens_sub">sub</a></p>
<p>streson</p>
<p>swap</p>
<p>switch</p>
<p><a href="/learn/ugens_tabread">tabread</a></p>
<p>tadsr</p>
<p>talias</p>
<p>tbldur</p>
<p><a href="/learn/ugens_tblrec">tblrec</a></p>
<p>tblsize</p>
<p>tdiv</p>
<p>tenv</p>
<p>tenv2</p>
<p>tenvx</p>
<p>tgate</p>
<p><a href="/learn/ugens_tget">tget</a></p>
<p>thresh</p>
<p>timer</p>
<p>tin</p>
<p>tick</p>
<p>tog</p>
<p><a href="/learn/ugens_tone">tone</a></p>
<p>tphasor</p>
<p>tport</p>
<p>tprop</p>
<p>trand</p>
<p><a href="/learn/ugens_bltriangle">triangle</a></p>
<p><a href="/learn/ugens_bltriangle">tri</a></p>
<p>tseq</p>
<p>tseg</p>
<p><a href="/learn/ugens_tset">tset</a></p>
<p>var</p>
<p>varset</p>
<p>vdelay</p>
<p>vocoder</p>
<p>waveset</p>
<p>writecode</p>
<p>wpkorg35</p>
<p>zeros</p>
<p>zitarev</p>
<p>zrev</p>

</div>
</body>
</html>
