<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>blsaw</h1>

<p>Arguments: freq, amp</p>
<p><strong>blsaw</strong> is a band-limited sawtooth wave generator. For parameters, 
it takes in a frequency, and an amplitude. <strong>blsaw</strong> also uses the alias
<strong>saw</strong>.</p>
<p>The argument below creates a simple 440hz sawtooth sound, put through
a butterworth lowpass filter.</p>
<pre><code> 440 0.3 blsaw 1000 butlp

</code></pre>

</div>
</body>
</html>
