<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>comb</h1>

<p>This effect is a delay line comb-filter, which is often used in the 
creation of artificial reverberators. It has the following arguments:
<ul>
<li>reverberation time: the T-60 decay time.</li>
<li>loop time: the size of the comb filter delay line, in seconds</li>
</ul>
</p>
<pre><code> # use metro to produce an impulse signal
 1 metro
 # the output of comb is the impulse response
 1.5 0.01 comb

</code></pre>

</div>
</body>
</html>
