<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>bltriangle</h1>

<p>Arguments: freq, amp</p>
<p><strong>bltriangle</strong> is a band-limited triangle wave generator. For paramters, 
it takes in a frequency, and an amplitude.</p>
<p><strong>bltriangle</strong> has two other aliases: <strong>tri</strong>, and <strong>triangle</strong>.</p>
<p>The argument below creates a simple 440hz triangle sound.</p>
<pre><code> 440 0.3 bltriangle

</code></pre>

</div>
</body>
</html>
