<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>diskin</h1>

<p>Plays an audio file. Audio file should be:
<ul>
<li>Mono</li>
<li>The same samplerate as the proejct (no resampling happens)</li>
<li>One of the formats supported by 
<a href="http://www.mega-nerd.com/libsndfile/">libsndfile</a></li>
</ul>
</p>
<pre><code> &quot;foo.wav&quot; diskin

</code></pre>

</div>
</body>
</html>
