<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>bpm2rate</h1>

<p>A function that efficiently converts bpm to rate (in Hz) with
the equation<br />  
BPM/60</p>
<p>The example uses bpm2dur to create a 130BPM clock signal with <strong>metro</strong>,
fed into <strong>trand</strong>, which is used to control the frequency of a sine wave.</p>
<pre><code> # Create 130bpm clock signal with metro
 130 bpm2rate metro 
 # feed clock into trand, generating frequency values between 200 and 400. 
 200 400 trand 
 # the rest of sine
 0.3 sine

</code></pre>

</div>
</body>
</html>
