<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>Biscale</h1>

<p>Arguments: input, min, max</p>
<p>Biscale will take an input signal in the range -1, 1, and map it to 
an arbitrary minimum and maximum. If the input signal exceeds these ranges,
the scaled output will be linearly mapped beyond the min/max bounds.</p>
<p>The example below takes a unit amplitude low-frequency sinusoid and maps
it to the range (200, 500). This signal acts as a control signal for 
the frequency of another audio-rate sine object.</p>
<pre><code> 0.1 1 sine 200 500 biscale 0.3 sine

</code></pre>

</div>
</body>
</html>
