<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>Butbr</h1>

<p>Arguments: input, cutoff, bandwidth</p>
<p><strong>butbr</strong> is a butterworth band reject filter. In addition to taking an
input audio signal, it takes in cutoff and bandwidth parameters.</p>
<p>The example below shows butbp filtering some noise.</p>
<pre><code> 0.4 noise 1500 1000 butbr

</code></pre>

</div>
</body>
</html>
