<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>What is Sporth?</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>What is Sporth?</h1>
<p>At first glance, 
<a href="http://paulbatchelor.github.io/proj/sporth.html">Sporth</a> is a stack-based programing language 
designed for audio. However, Sporth is really more of a text based modular synthesis 
environment, that uses a stack paradigm to build up patches. In addition to
the language, Sporth has a very flexible API. It is very easy to build
tools and software on top of Sporth. Sporth has been built to run inside of
programs like ChucK, PD, and LMMS. It is also one of the main synthesis engines
used inside of the iOS/macOS framework AudioKit. </p>
<p>Sporth was originally designed because writing music in C via 
<a href="http://paulbatchelor.github.io/proj/soundpipe.html">Soundpipe</a> 
was too tedious. The stack-based language design was chosen
because it was easy to build a parser for it. After months of working with the language, 
it became very clear that Sporth could be more than just a prototyping tool, and that
the stack-based paradigm lended itself quite well to audio DSP. Over the
past years, Sporth has grown up into a very unique and rewarding composition
environment. </p>
<hr />
<a href="/learn">Back</a> | <a href="/learn/about_cookbook">Next: About this Cookbook</a>
</div>
</body>
</html>
