<div class="middle_pane about">
	<br>
	<center>
		<img src="{{.StaticRoot}}masher-about.png">
	</center>
	<h3>What is Audio Masher?</h3>
	<ul>
		<li>
			Live, in-browser audio and music programming environment
		</li>
		<li>
			Based on the amazing 
			<a href="http://paulbatchelor.github.io/proj/sporth.html">Sporth</a> 
			audio programming language by Paul Batchelor
		</li>
		<li>
			<a href="https://github.com/pac-dev/AudioMasher">Source</a> 
			available on Github
		</li>
		<li>
			Created by Pierre Cusa  
			(<a href="http://osar.fr">software</a> | 
			<a href="http://cusamusic.com">music</a>)
		</li>
	</ul>
	<br>
	<h3 id=patchlicense>What is the license on scripts posted to AudioMasher?</h3>
	<p>
		A license (or the URL to a license) can be placed in the patch 
		description or in a comment in the code itself. If there is no 
		license there, all patches and the resulting audio are by default 
		protected under the folliwing license:<br><br>
		<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">
			Attribution-NonCommercial-ShareAlike 3.0 Unported
		</a>.
	</p>
	
	<br>
	<br>
</div>