
	<div class=left_pane>
		<div id=editor_container>
			<textarea id=editor_area autocomplete=off>{{index .Patch.Files "main.sp"}}</textarea>
		</div>
		<div id=controls>
			<div id=play_loading></div>
			<a id=c_play class=nodisplay title="Compile & start audio (from editor: ctrl+Enter)"></a>
			<a id=c_stop title="Stop audio (from editor: ctrl+Space)"></a>
			<a id=c_help title="Show/hide help and quick reference"></a>
			{{if .CanUpdatePatch}}
			<a href="#update_modal" id=c_post title="Update Patch..."></a>
			{{else if .LoggedIn}}
			<a href="#post_modal" id=c_post title="Post Patch..."></a>
			{{else}}
			<a href="#signup_modal" id=c_post title="Post Patch..."></a>
			{{end}}
		</div>
		<div id=tooltip></div>
		<div id=errors></div>
	</div>
	<div class=right_pane>
		{{if eq .Patch.Title ""}}
		<a class="tab_thumb active_thumb" href="#quick_ref">
			quick ref
		</a>
		{{else}}
		<a class="tab_thumb active_thumb" href="#metadata">
			meta
		</a>
		<a class=tab_thumb href="#quick_ref">
			quick ref
		</a>
		{{end}}
		<a class=tab_thumb href="#help">
			help
		</a>
		<a class=tab_thumb href="#params_tab">
			params
		</a>
		{{if eq .Patch.Title ""}}
		<div class="tab_content active_content" id=quick_ref>
			loading...
		</div>
		{{else}}
		<div class="tab_content active_content" id=metadata>
			<em>Title:</em><br>
			<span id=PTitle>{{.Patch.Title}}</span><br><br>
			<em>Author:</em><br>
			<a id=PAuthor href="/user/{{.Patch.Author}}">{{.Patch.Author}}</a><br><br>
			<em>Description:</em><br>
			<span id=PDesc>{{index .Patch.Files "readme.txt"}}</span><br><br>
			<em>Created:</em> {{HumanDate .Patch.DateCreated }}
			<br><br>
			<em>Modified:</em> {{HumanDate .Patch.DateModified }}
			<br><br>
			<i><a href="/about#patchlicense">License</a></i>
			<br><br>
			<span id=PId style="display:none">{{.Patch.Id}}</span>
		</div>
		<div class=tab_content id=quick_ref>
			loading...
		</div>
		{{end}}
		<div class=tab_content id=help>
			Here are some Sporth learning resources (most of them by Paul Batchelor):
			<br>
			<ul><li>
				The 
				<a href="/learn">interactive cookbook</a> 
				is a tutorial where you can run all the example code online (it's based on the 
				<a href="http://paulbatchelor.github.io/proj/cook/">original cookbook</a>).
			</li><li>
				The 
				<a href="https://github.com/PaulBatchelor/Sporth/tree/master/examples">examples</a> 
				demonstate a variety of Sporth ugens. Note: those that rely on external files will 
				not work in AudioMasher.
			</li><li>
				The 
				<a href="http://paulbatchelor.github.io/res/soundpipe/docs/">Soundpipe modules reference</a> 
				goes into more detail on the underlying function powering each Sporth ugen.
			</li><li>
				The 
				<a href="/browse">AudioMasher collection</a> 
				can certainly be used as learning material.
			</li></ul>
			<br>
			And some information about AudioMasher:
			<br>
			<ul><li> 
				<a href="/about">Frequently Asked Questions</a>
			</li><li>
				<a href="https://github.com/pac-dev/AudioMasher">Source on Github</a>
			</li></ul>
			<br><br>
		</div>
		<div class=tab_content id=params_tab>
			<br>
			<em id=no_params>No parameters.</em><br>
			<div>
				<div id=slider_labels>
				</div>
				<div id=sliders>
				</div>
			</div>
			<br><br>
		</div>
	</div>